* {
    font-family: 'Roboto', sans-serif;
    color: #30384b;
}

body {
    background-color: rgb(231 231 231);
}

.timetable__wrapper  {
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
}

.timetable {
    background-color: rgb(231 231 231);
}

header {
    width: 100%;
    height: 80px;
    background-color: #343e4d;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header__title {
    color: white;
    font-weight: 900;
    font-size: 40px;
}       

.timetable__block {
    width: 290px;
    margin-top: 15px;
}

.timetable__block-day {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    color: #30384b;
}

.timetable__block-item {
    padding: 12px;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.timetable__block-title {
    font-size: 22px;
}

.timetable__block-subtitle {
    margin: 8px 0px;
    font-size: 15px;
    color: #30384b;
}

.timetable__block-type-practice {
    width: 80px;
    padding: 5px;       
    border-radius: 8px;
    background-color: rgb(255 198 91);
    color: white;
    text-align: center;
}

.timetable__block-type-lab {
    width: 108px;
    padding: 5px;       
    border-radius: 8px;
    background-color: rgb(91 166 255);
    text-align: center; 
    color: #fff;
}

.timetable__block-type-lection {
    width: 80px;
    padding: 5px;       
    border-radius: 8px;
    background-color: rgb(62 191 62);
    text-align: center; 
    color: #fff;
}

.timetable__block-time {
    margin-top: 8px;
    font-size: 28px;
    font-weight: 600;
}

.timetable__block-link, .modal__item-link {
    margin-top: 12px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
}

.timetable__block-link a {
    text-decoration: none;
    font-size: 17px;
    padding: 5px 72px;
}

#open-tuesday, #open-wednesday {
    background-color: #fff;
    border: 1px solid;
    border-radius: 15px;
    width: 264px;
    height: 31.55px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 12px;
}

.modal-container-tuesday, .modal-container-wednesday {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container-tuesday.show {
    /* opacity: 1;
    pointer-events: auto; */
    display: flex;
    animation-name: modalAnimation;
    animation-duration: 0.7s;
}

.modal-container-wednesday.show {
    /* opacity: 1;
    pointer-events: auto; */
    display: flex;
    animation-name: modalAnimation;
    animation-duration: 0.7s;
}

@keyframes modalAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    background-color: #fff;
    width: 500px;
    border-radius: 5px;
    padding: 30px 50px;
    position: relative;
    /* text-align: center; */
}

.modal__title {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

.modal__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}


.modal__item-title {
    font-size: 22px;
}

.modal__item-subtitle {
    text-align: center;
    margin-top: 9px;
    font-size: 17px;
}

.modal__item-link a {
    text-decoration: none;
    padding: 5px 37px;
}

#close-tuesday, #close-wednesday {
    position: absolute;
    top: -10px;
    right: 6px;
    font-size: 50px;
    color: #949494;
    cursor: pointer;
}