* {
    font-family: 'Roboto', sans-serif;
    color: #30384b;
}

body {
    background-color: rgb(231 231 231);
}

.timetable__wrapper-even, .timetable__wrapper-odd {
    padding: 0px 30px;
    display: none;
    justify-content: space-between;
    flex-wrap: wrap;
}

.timetable__wrapper-even.current {
    display: flex;
}

.timetable__wrapper-odd.current {
    display: flex;
}

.timetable {
    background-color: rgb(231 231 231);
    padding-bottom: 15px;
}

header {
    width: 100%;
    height: 80px;
    background-color: #343e4d;
    display: flex;
    align-items: center;
    position: relative;
}

.header__title {
    margin: 0;
    color: white;
    font-weight: 900;
    font-size: 40px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}

#week {
    margin-left: 124px;
    border: 7px solid;
    text-align: center;
    border-radius: 15px;
}


.timetable__block {
    width: 290px;
    margin-top: 15px;
}

.timetable__block-day {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
    color: #30384b;
}

.timetable__block-item {
    padding: 12px;
    margin-top: 15px;
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
}

.timetable__block-title {
    font-size: 22px;
}

.timetable__block-subtitle {
    margin: 8px 0px;
    font-size: 15px;
    color: #30384b;
}

.timetable__block-type-practice {
    width: 80px;
    padding: 5px;       
    border-radius: 8px;
    background-color: rgb(255 198 91);
    color: white;
    text-align: center;
}

.timetable__block-type-lab {
    width: 108px;
    padding: 5px;       
    border-radius: 8px;
    background-color: rgb(91 166 255);
    text-align: center; 
    color: #fff;
}

.timetable__block-type-lection {
    width: 80px;
    padding: 5px;       
    border-radius: 8px;
    background-color: rgb(62 191 62);
    text-align: center; 
    color: #fff;
}

.timetable__block-time {
    margin-top: 8px;
    font-size: 28px;
    font-weight: 600;
}

.timetable__block-link, .modal__item-link {
    margin-top: 12px;
    padding: 5px 0;
    text-align: center;
    border: 1px solid;
    border-radius: 15px;
}

.timetable__block-link a {
    text-decoration: none;
    font-size: 17px;
    padding: 5px 72px;
}

.timetable__block-mon, .timetable__block-tue, .timetable__block-wed, .timetable__block-thu, .timetable__block-fri {
    display: none;
}

.timetable__block-mon.current_sat, .timetable__block-tue.current_sat, .timetable__block-wed.current_sat, .timetable__block-thu.current_sat, .timetable__block-fri.current_sat {
    display: block;
}

.open-tuesday, .open-wednesday {
    background-color: #fff;
    border: 1px solid;
    border-radius: 15px;
    width: 264px;
    height: 31.55px;
    font-size: 17px;
    cursor: pointer;
    margin-top: 12px;
}

.modal-container {
    background-color: rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: none;
}

.modal-container.show {
    display: flex;
    animation-name: modalAnimation;
    animation-duration: 0.7s;
}

#modal_tuesday.show, #modal_wednesday.show {
    display: block;
}

@keyframes modalAnimation {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

.modal {
    background-color: #fff;
    width: 500px;
    border-radius: 5px;
    padding: 30px 50px;
    position: relative;
    display: none;
    /* text-align: center; */
}

.modal__title {
    text-align: center;
    font-weight: 600;
    font-size: 26px;
}

.modal__wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 17px;
}


.modal__item-title {
    font-size: 22px;
}

.modal__item-subtitle {
    text-align: center;
    margin-top: 9px;
    font-size: 17px;
}

.modal__item-link a {
    text-decoration: none;
    padding: 5px 37px;
}

.close {
    position: absolute;
    top: -10px;
    right: 6px;
    font-size: 50px;
    color: #949494;
    cursor: pointer;
}



/* Adaptive */

@media (max-width: 1200px) {
    .timetable__wrapper-even, .timetable__wrapper-odd {
        flex-wrap: wrap;
        padding: 0px 30px;
    }
}

@media (max-width: 991px) {
    .timetable__wrapper-even, .timetable__wrapper-odd {
        padding: 0px 65px;
    }
    
    #week {
        margin-left: 57px;
    }
}

@media (max-width: 767px) {
    header {
        flex-direction: column-reverse;
    }

    .timetable__wrapper-even, .timetable__wrapper-odd {
        justify-content: center;
    }

    .timetable__block-item {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .timetable__block {
        width: 375px;
    }

    .timetable__block-day {
        font-size: 33px;
    }

    .timetable__block-title {
        font-size: 25px;
    }

    .timetable__block-subtitle {
        font-size: 16px;
    }

    .timetable__block-type-practice, .timetable__block-type-lab, .timetable__block-type-lection {
        font-size: 19px;
        width: 85px;
    }

    .timetable__block-type-lab {
        width: 130px;
    }

    header {
        height: 125px;
        justify-content: center;
    }

    .header__title {
        position: relative;
        left: 0;
        top: 0;
        transform: translate(0, 0);
        margin-right: 0;
    }

    #week {
        margin-top: 6px;
        height: 47px;
        width: 264px;
        font-size: 17px;
        margin-left: 0;
    }

}

@media (max-width: 575px) {
    .header__title {
        font-size: 31px;
    }
}

@media (max-width: 639px) {
    .modal {
        width: 80%;
        padding: 30px 25px;
    }
}

@media (max-width: 529px) {
    .modal__title {
        font-size: 29px;
    }

    .modal__wrapper {
        flex-direction: column;
        align-items: center;
        margin-top: 20px;
    }

    .modal__item:nth-child(2) {
        margin-top: 20px;
    }

    .modal__item {
        width: 80%;
    }

    .modal__item-title {
        text-align: center;
    }
}

@media (max-width: 369px) {
    .modal {
        padding: 30px 10px;
    }
    .modal__title {
        font-size: 25px;
    }
}


